{% extends 'base.html' %} {% load static %} {% block meta %}

<title>Detail {{ jenis.matkul }}</title>
{% endblock meta %} {% block content %}
<div class="jumbotron text-center">
    <h1>{{ jenis.matkul }}</h1>
</div>

<div class="container">
    <div>
        <a type="button" href="{% url 'jadwal:jadwal' %}" class="btn btn-primary">Back</a>
    </div>
    <div>
        <table style="margin: 3rem 0;" class="table table-hover">
            <tbody>
                <tr>
                    <th scope="row">Dosen Pengajar</th>
                    <td>{{ jenis.dosen }}</td>
                </tr>
                <tr>
                    <th scope="row">Jumlah SKS</th>
                    <td>{{ jenis.sks }}</td>
                </tr>
                <tr>
                    <th scope="row">Deskripsi</th>
                    <td>{{ jenis.deskripsi }}</td>
                </tr>
                <tr>
                    <th scope="row">Tahun Ajaran</th>
                    <td>{{ jenis.tahun }}</td>
                </tr>
                <tr>
                    <th scope="row">Semester</th>
                    <td>{{ jenis.semester }}</td>
                </tr>
                <tr>
                    <th scope="row">Ruang Kelas</th>
                    <td>{{ jenis.ruang }}</td>
                </tr>
                <tr>
                    <th scope="row">Jadwal</th>
                    <td>{{ jenis.jadwal }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
{% endblock %}