{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Jadwal Mata Kuliah</title>
{% endblock meta %} {% block content %}
<div class="jumbotron text-center">
    <h1>Jadwal Mata Kuliah</h1>
</div>
<div style="padding: 50px; padding-top: 20px;">
    <div style="padding-bottom: 20px;">
        <a type="button" href="{% url 'jadwal:tambah' %}" class="btn btn-primary">Tambah</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Mata Kuliah</th>
                <th scope="col">Dosen Pengajar</th>
                <th scope="col">SKS</th>
                <th scope="col">Ruang</th>
                <th scope="col">Jadwal</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            {% for jenis in all_schedule %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{jenis.matkul}}</td>
                <td>{{jenis.dosen}}</td>
                <td>{{jenis.sks}}</td>
                <td>{{jenis.ruang}}</td>
                <td>{{jenis.jadwal}}</td>
                <td>
                    <a class="btn btn-info" href="{% url 'jadwal:detail' jenis.id %}">Detail</a>
                    <a class="btn btn-danger" href="{% url 'jadwal:delete' jenis.id %}">Hapus</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}