{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block meta %}
<title>Tambah Jadwal</title>
{% endblock meta %} {% block content %}
<div class="jumbotron text-center">
    <h1>Tambahkan Jadwal</h1>
</div>

<div class="container">
    <form method="POST">
        {% csrf_token %} {{ schedule_form | crispy }}
        <div style="margin: 3rem 0;">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

{% endblock %}