{% extends 'story9/base.html' %} {% load static %} {% block meta %}
<title>Story 9</title>
{% endblock meta %} {% block content %} {% if user.is_authenticated %}
<div class="jumbotron text-center">
    <h1>SELAMAT DATANG</h1>
    <h1>{{user.get_username}}</h1>
</div>
{% else %}
<div class="container text-center pt-4">
    <h3>Silahkan <a href="{% url 'story9:masuk' %}">Login</a> terlebih dahulu</h3>
</div>
{% endif %} {% endblock %}