 {% load static %} {% block meta %}
<title>Login</title>
{% endblock meta %} {% block style %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css"> {% endblock %} {% block content %}

<div>
    <a type="button" href="{% url 'story9:index' %}" class="btn btn-info" style="margin: 10px;">Back</a>
</div>
<div class="login-reg-panel">
    <div class="info">
        <div class="register-info-box">
            <h2>Belum memiliki akun?</h2>
            <p>Yuk daftar dulu...</p>
            <div class="change">
                <a href="{% url 'story9:daftar' %}">
                    <label id="label-login" for="log-reg-show">Signup</label>
                    <input type="button" name="active-log-panel" id="log-reg-show">
                </a>
            </div>
        </div>
    </div>

    <div class="white-panel">
        <form method="post">
            {% csrf_token %}
            <div class="login-show">
                <h2>LOGIN</h2>
                <div class="form-group">
                    <input type="text" placeholder="Username" class="form-control" name="username" id="username" autocomplete="username">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control" name="password" id="password" autocomplete="password">
                </div>
                <p>{{response}}</p>
                <button type="submit" class="btn btn-success" id="login">Login</button>
            </div>
        </form>
    </div>
</div>

{% endblock %} {% block js %}

<script>
    $(document).ready(function() {
        $('.login-info-box').fadeOut();
        $('.login-show').addClass('show-log-panel');
    });
</script>
{% endblock js %}