{% load static %} {% block meta %}
<title>Signup</title>
{% endblock meta %} {% block style %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css"> {% endblock %} {% block content %}

<div>
    <a type="button" href="{% url 'story9:index' %}" class="btn btn-info" style="margin: 10px;">Back</a>
</div>
<div class="all-reg-panel">
    <div class="info">
        <div class="login-info-box">
            <h2>Sudah memiliki akun?</h2>
            <p>Silahkan Login</p>
            <div class="change">
                <a href="{% url 'story9:masuk' %}">
                    <label id="label-register" for="log-reg-show">Login</label>
                    <input type="button" name="active-log-panel" id="log-reg-show">
                </a>
            </div>
        </div>
    </div>

    <div class="register-panel">
        <form method="post">
            {% csrf_token %}
            <div class="register-show">
                <h2>SIGNUP</h2>
                <table class="table table-sm">
                    {{ form.as_table }}
                </table>
                <a href="{% url 'story9:masuk' %}">
                    <button class="btn btn-success" id="daftar">Register</button>
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock %} {% block js %}

<script>
    $(document).ready(function() {
        $('.register-info-box').fadeOut();
        $('.register-show').addClass('show-log-panel');
    });
</script>

{% endblock js %}