{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Story 7</title>
{% endblock meta %} {% block content %}
<div class="jumbotron text-center">
    <h1>Story 7 - Accordion</h1>
</div>

<div class="accordion px-5" id="accordionExample">
    {% for title, content in contents %}
    <div class="container">
        <div class="jumbotron" style="padding: 0px 15px;background-color: rgb(239, 239, 239);" id="headingOne">
            <h2 class="mb-0" style="display: flex;justify-content: space-between;align-items: center;">
                <div>
                    <button class="btn accordion-btn" type="button" id="title-{{ forloop.counter }}" data-body="content-{{ forloop.counter }}">
						<h5>{{ title }}</h5>
                    </button>
                </div>
                <div class="mt-10">
                    <div class="btn-group float-right px-2">
                        <button class="btn btn-primary" onclick="changedown({{forloop.counter}})">&#x25BC;</button>
                    </div>
                    <div class="btn-group float-right px-2">
                        <button class="btn btn-primary" onclick="changeup({{forloop.counter}})">&#x25B2;</button>
                    </div>
                </div>
            </h2>
        </div>

        <div id="content-{{ forloop.counter }}" class="collapse" data-parent="#accordionExample">
            <div class="card-body">
                {% for i in content %}
                <li> {{i}} </li>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %} {% block js %}

<script src="{% static 'story7/js/story7.js' %}"></script>
{% endblock js %}