{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Book</title>
{% endblock meta %} {% block content %}
<div class="jumbotron text-center">
    <h1>Book</h1>
</div>
<div style="margin: 40px;">
    <div>
        <h4>Cari Buku :</h4>
        <input id="keyword" placeholder="Masukkan kata kunci" class="form-control" type="text" aria-label="Search">
        <div class="input-group-append" style="margin-top: 5px;">
            <button id="search" class="btn btn-outline-secondary btn-search text-dark search-button" type="button" id="button-addon2">
              Cari
            </button>
        </div>
    </div>
    <div>
        <h4 class="col">Hasil Pencarian</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Judul</th>
                    <th>Penulis</th>
                    <th>Gambar</th>

                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
{% endblock %} {% block js %}

<script src="{% static 'js/story8.js' %}" type="text/javascript"></script>
{% endblock js %}