 {% load static %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>                        
</button>
            <a class="navbar-brand" href="/">SR</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/#about">Profil</a></li>
                <li><a href="/#pengalaman">Pengalaman</a></li>
                <li><a href="{% url 'main:pendidikan' %}">Pendidikan</a></li>
                <li><a href="{% url 'main:story1' %}">Story 1</a></li>
                <li><a href="{% url 'jadwal:jadwal' %}">Jadwal Kuliah</a></li>
                <li><a href="{% url 'kegiatan:kegiatan' %}">Kegiatan</a></li>
                <li><a href="{% url 'story7:story7' %}">Story 7</a></li>
                <li><a href="{% url 'story8:story8' %}">Buku</a></li>
                <li><a href="{% url 'story9:index' %}">Story 9</a></li>
                <li><a href="#contact">Kontak</a></li>
            </ul>
        </div>
    </div>
</nav>