{% extends 'base.html' %} {% block content %}
<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonia Rahmawati</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">


    <div class="jumbotron text-center">
        <h1>SELAMAT DATANG</h1>
    </div>

    <div id="about" class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="judul">PROFIL</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h4>Tentang Saya</h4>
                <table class="saya">
                    <tr>
                        <td>Saya adalah mahasiswa Ilmu Komputer UI 2019. Saya berasal dari Sumatera Barat. Saya diterima di Ui melalui jalur SIMAK. Kuliah di jurusan ini adalah impian saya sejak lama. Saya berharap bisa mendapat ilmu dan pengalaman sebanyak
                            - banyaknya selama kuliah di sini.</td>
                    </tr>
                </table>

            </div>
            <div class="col-sm-4">
                <img src="{% static 'img/KR51.jpg' %}" alt="" width="250" height="360">
            </div>
            <div class="col-sm-4">
                <h4>Biodata</h4>
                <table class="bio">
                    <tr>
                        <td>Nama</td>
                        <td>: Sonia Rahmawati</td>
                    </tr>
                    <tr>
                        <td>PTN</td>
                        <td>: Universitas Indonesia</td>
                    </tr>
                    <tr>
                        <td>Fakultas</td>
                        <td>: Ilmu Komputer</td>
                    </tr>
                    <tr>
                        <td>Jurusan</td>
                        <td>: Ilmu Komputer</td>
                    </tr>
                    <tr>
                        <td>Angkatan</td>
                        <td>: 2019</td>
                    </tr>
                    <tr>
                        <td>NPM</td>
                        <td>: 1906398654</td>
                    </tr>
                    <tr>
                        <td>Hobi</td>
                        <td>: Nonton</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="pengalaman" class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="judul">Pengalaman</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <h4>Organisasi</h4>
                <ul>
                    <li>KIR (Kelompok Ilmiah Remaja)
                    </li>
                    <p>2016-2017</p>
                    <li>FUKI (Forum Ukhuwah Islamiah)
                    </li>
                    <p>2020-sekarang</p>
                </ul>
                <h4>Kepanitiaan</h4>
                <ul>
                    <li>Compfest 12 (Staf Software Engineering Academy)</li>
                    <p>2020-sekarang</p>
                    <li>KGTK Imami UI (Staf Simulasi SBMPTN)</li>
                    <p>2020-sekarang</p>
                </ul>
                <h4>Prestasi</h4>
                <ul>
                    <li>Juara 3 OSK Matematika SMA 2018</li>
                    <li>Juara 3 Lomba Matematika SMA di Universitas Bung Hatta 2017</li>
                    <li>Juara 1 Lomba Matematika SMA di STKIP YDB 2017</li>
                </ul>
            </div>
            <div class="col">
                <img src="{% static 'img/sea.jpg' %}" alt="" width="360" height="240"><br><br>
                <img src="{% static 'img/fuki.jpeg' %}" alt="" width="360" height="240">
            </div>
        </div>
    </div>


</body>

</html>
{% endblock %}