{% load static %}
<div id="contact" style="background-color: #036c8b;">
    <div class="row">
        <div class="col">
            <h2 class="judul3">Kontak</h2>
            <div class="kontak">
                <a href="https://facebook.com/soniarahma27" class="link facebook" target="_parent"><span class="fa fa-facebook-square"></span></a>
                <a href="https://www.linkedin.com/in/soniarahmawati/" class="link linkedin" target="_parent"><span class="fa fa-linkedin"></span></a>
                <a href="https://www.instagram.com/sonia_rahma27/" class="link instagram" target="_parent"><span class="fa fa-instagram"></span></a>
            </div>
        </div>
    </div>
</div>