{% extends 'base.html' %} {% block content %}
<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendidikan</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>

    <div class="jumbotron text-center">
        <h1>Pendidikan</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <center>
                    <h3>SD</h3>
                    <img src="{% static 'img/sd.png' %}" alt="" width="180" height="190">
                    <h4>SD Negeri 11 Enam Lingkung</h4>
                    <p>(2007-2013)</p>
                </center>
            </div>
            <div class="col-sm-3">
                <center>
                    <h3>SMP</h3>
                    <img src="{% static 'img/smp.jpg' %}" alt="" width="180" height="190">
                    <h4>SMP Negeri 2 Enam Lingkung</h4>
                    <p>(2013-2016)</p>
                </center>
            </div>
            <div class="col-sm-3">
                <center>
                    <h3>SMA</h3>
                    <img src="{% static 'img/smanla.png' %}" alt="" width="180" height="190">
                    <h4>SMA Negeri 1 Lubuk Alung</h4>
                    <p>(2016-2019)</p>
                </center>
            </div>
            <div class="col-sm-3">
                <center>
                    <h3>Perguruan Tinggi</h3>
                    <img src="{% static 'img/MakaraUI.png' %}" alt="" width="180" height="190">
                    <h4>Universitas Indonesia</h4>
                    <p>(2019-sekarang)</p>
                </center>
            </div>
        </div>
    </div>

</body>

</html>
{% endblock %}