 {% block content %}
<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profil</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/story1.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="container">
        <div class="class1">
            <div class="image">
                <img src="{% static 'img/KR51.jpg' %}" alt="" width="120" height="170">
            </div>
            <div class="teks">
                <h1>Sonia Rahmawati</h1>
                <h2>1906398654</h2>
                <h2>Ilmu Komputer 2019</h2>
            </div>
        </div>
        <div>
            <div>
                <div class="bio">
                    <h3>Halo!!!</h3>
                    <p>Saya Sonia Rahmawati, biasa dipanggil Sonia. Saya berasal dari Sumatera Barat. Saya merupakan mahasiswa Ilmu Komputer Fasilkom UI 2019. Saya diterima di UI jalur SIMAK. Saya memiliki hobi nonton.
                    </p>
                </div>
                <div>
                    <h3>Riwayat Pendidikan</h3>
                    <table>
                        <tr>
                            <th>Pendidikan</th>
                            <th>Sekolah/PTN</th>
                            <th>Tahun</th>
                        </tr>
                        <tr>
                            <td>SD</td>
                            <td>SDN 11 Enam Lingkung</td>
                            <td>2007-2013</td>
                        </tr>
                        <tr>
                            <td>SMP</td>
                            <td>SMPN 2 Enam Lingkung</td>
                            <td>2013-2016</td>
                        </tr>
                        <tr>
                            <td>SMA</td>
                            <td>SMAN 1 Lubuk Alung</td>
                            <td>2016-2019</td>
                        </tr>
                        <tr>
                            <td>PTN</td>
                            <td>Universitas Indonesia</td>
                            <td>2019 - sekarang</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="social">
                <a href="https://facebook.com/soniarahma27" class="link facebook" target="_parent"><span class="fa fa-facebook-square"></span></a>
                <a href="https://www.linkedin.com/in/soniarahmawati/" class="link linkedin" target="_parent"><span class="fa fa-linkedin"></span></a>
                <a href="https://www.instagram.com/sonia_rahma27/" class="link instagram" target="_parent"><span class="fa fa-instagram"></span></a>
            </div>

        </div>
    </div>
</body>

</html>
{% endblock %}