body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.jumbotron {
    background-color: #6ed3cf;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}

.container-fluid {
    padding: 60px 150px;
}

.judul {
    text-align: center;
}

.saya {
    width: 180px;
}

.bio td {
    width: 170px;
    padding: 5px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.navbar {
    margin-bottom: 0;
    background-color: #6ed3cf;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 3px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

#pengalaman {
    background-color: #e1e8f0;
}

#contact {
    background-color: #036c8b;
}

.kontak {
    position: relative;
    width: 100%;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    padding-top: 150px;
}

.kontak .link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px dashed white;
    background-clip: content-box;
    padding: 10px;
    transition: .5s;
    color: #D7D0BE;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 50px;
}

.kontak .link span {
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.kontak .link:hover {
    padding: 20px;
    color: white;
    margin-left: -5px;
    transform: translateX(10px) rotate(360deg);
}

.kontak .link.instagram {
    background-color: tomato;
    color: white;
}

.kontak .link.linkedin {
    background-color: #00ACEE;
    color: white;
}

.kontak .link.facebook {
    background-color: #3B5998;
    color: white;
}

.judul3 {
    text-align: center;
    color: #fff;
}