body {
    background-color: #ced6e0;
    font-family: 'Nunito', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #f1f2f6;
    align-content: center;
    padding: 15px;
    border: 3px solid #778ca3;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.class1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.image {
    text-align: left;
}

.teks {
    text-align: left;
    padding-left: 5px;
}

.bio {
    color: black;
}

table,
th,
td {
    border: 1.5px solid black;
    padding: 10px;
    border-collapse: collapse;
    text-align: center;
}

.social {
    position: relative;
    width: 100%;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    padding-top: 150px;
}

.social .link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px dashed white;
    background-clip: content-box;
    padding: 10px;
    transition: .5s;
    color: #D7D0BE;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 50px;
}

.social .link span {
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social .link:hover {
    padding: 20px;
    color: white;
    margin-left: -5px;
    transform: translateX(10px) rotate(360deg);
}

.social .link.instagram {
    background-color: tomato;
    color: white;
}

.social .link.linkedin {
    background-color: #00ACEE;
    color: white;
}

.social .link.facebook {
    background-color: #3B5998;
    color: white;
}


}