{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Detail {{ jenis.nama_kegiatan }}</title>
{% endblock meta %} {% block content %}
<div class="jumbotron text-center">
    <h1>{{ jenis.nama_kegiatan }}</h1>
</div>
<div>
    <div class="container">
        <table style="margin: 3rem 0; text-align: center;" class="table table-hover">
            <tbody>
                <tr>
                    <th scope="row" style="text-align: center;">Tanggal Kegiatan</th>
                </tr>
                <tr>
                    <td>{{ jenis.tanggal }}</td>
                </tr>
                <br>
                <tr>
                    <th scope="row" style="text-align: center;">Deskripsi</th>
                </tr>
                <tr>
                    <td>{{ jenis.deskripsi }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <h1 style="text-align: center;">Peserta</h1>
        <table style="margin: 3rem 0; display: flex; justify-content: center;" class="table table-borderless">
            <tbody>
                {% for peserta in semua_peserta %}
                <tr>
                    <th>{{peserta.nama}}</th>
                    <td><a class="btn btn-danger" href="{% url 'kegiatan:deletePeserta' peserta.id %}">Hapus</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="jumbotron" style="background-color: white; text-align: center;">
        <a type="button" href="{% url 'kegiatan:kegiatan' %}" class="btn btn-primary">Back</a>
        <a class="btn btn-primary" href="{% url 'kegiatan:peserta' jenis.id %}">Tambah</a>
    </div>

</div>

{% endblock %}