{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Kegiatan</title>
{% endblock meta %} {% block content %}
<div class="jumbotron text-center">
    <h1>Kegiatan</h1>
</div>

<div class="container">
    <div class="row row-cols">
        {% for jenis in all_activity %}
        <div class="col">
            <div class="jumbotron" style="padding: 30px;background-color: #89cada;">
                <h1 class="display-4" style="text-align: center;">{{ jenis.nama_kegiatan }}</h1>
                <hr class="my-4">
                <p class="text-align-center">{{ jenis.tanggal}}</p>
                <a class="btn btn-primary btn-lg" href="{% url 'kegiatan:detail' jenis.id %}" role="button">Detail</a>
                <a class="btn btn-danger btn-lg" href="{% url 'kegiatan:deleteKegiatan' jenis.id %}" role="button">Hapus</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="jumbotron" style="background-color: white;text-align: center;">
    <a class="btn btn-primary" href="{% url 'kegiatan:tambah' %}">Tambah</a>
</div>

{% endblock %}