{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block meta %}
<title>Tambah Peserta</title>
{% endblock meta %} {% block content %}
<div class="jumbotron text-center">
    <h1>Tambahkan Peserta</h1>
</div>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group col">
            {{ peserta_form|crispy}}
        </div>
        <div class="jumbotron text-center" style="background-color: white;">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

{% endblock %}