{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block meta %}
<title>Tambah Kegiatan</title>
{% endblock meta %} {% block content %}
<div class="jumbotron text-center">
    <h1>Tambahkan Kegiatan</h1>
</div>
<div class="container">
    <form method="POST">
        {% csrf_token %} {{ kegiatan_form|crispy}}
        <div class="jumbotron" style="background-color: white;">
            <a type="button" href="{% url 'kegiatan:kegiatan' %}" class="btn btn-primary">Back</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

{% endblock %}